#fleet {
    background-image: linear-gradient(to top, rgba(255, 203, 69), rgba(255, 0, 0, 0))
}

.container-fleet {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.card-container {
    display: grid;
    row-gap: 3.5rem;
}

.card-article {
    position: relative;
    overflow: hidden;
}

.card-img {
    width: 328px;
    border-radius: 1.5rem;
}

.card-data{
    width: 280px;
    background-color: #fff9ea ;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card-description {
    display: block;
    font-size: .75rem ;
    margin-bottom: .25rem;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 500;
    color: dimgrey;
    margin-bottom: .75rem;
}

.card-button {
    text-decoration: none;
    font-size: .75rem;
    font-weight: 500;
    color: #ec994b;
}

.card-button:hover {
    text-decoration: underline;
}

.card-article:hover .card-data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;

}

.card-article:hover {
    animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
    animation: remove-data 1s forwards;
}

@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

@media screen and (max-width: 420px) {
    .container-fleet{
        margin-inline: 1rem;
    }

    .card-data{
        width: 225px;
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }

      .card-data {
        width: 300px;
        padding-inline: 2.5rem;
    }
}

@media screen and (min-width: 1120px ) {
    .container-fleet{
        height: 100vh;
    }

    .card-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .card-img{
        width: 348px;
        padding: 10px;
    }

    .card-data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}

.title span {
    color: #e9a209;
}

