footer {
    background-image: linear-gradient(to top, rgba(255, 203, 69), rgba(255, 0, 0, 0))
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 8px 8% 25px 8%;
    align-items: center;
}

#copyright {
    color: #1d1d1d;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}